<div class="container">
    <div class="intro">
        <h2 class="create-title">Edit transaction</h2>
        <a href="/logout" class="logout-btn"><i class="fas fa-sign-out-alt fa-2x fa-logout"></i></a>
    </div>

    <form action="/editTrans/{{transaction.id}}" method="POST">
        <div class="form-group">
            <select name="type" id="type" class="create-form-item" required>
                {{#each transactionTypes}}
                <option value="{{this.type}}" {{this.selected}}>{{this.name}}</option>
                {{/each}}
            </select>
            <div class="create-name">
                <input type="text" name="name" id="name" value="{{transaction.name}}" class="create-form-item">
            </div>
        </div>
        <div class="form-group">
            <select class="create-form-item" id="category" name="category">
                {{#each transactionCategories}}
                <option value="{{this.category}}"{{this.selected}}>{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <input type="number" step="0.01" name="amount" id="amount" value="{{transaction.amount}}"
                class="create-form-item">
        </div>
        <div class="form-group">
            <input type="date" name="date" id="date" required pattern="dd-mm-yyyy" value="{{formattedDate}}"
                class="create-form-item">
        </div>
        <div>
            <button type="submit" class="btn btn-info">Save</button>
        </div>
    </form>
</div>